In [1]:
import pandas as pd
import numpy as np

In [2]:
DF = pd.DataFrame({"Country":["Taiwan","United States", "Thailand"]})

In [3]:
DF["Population"] = np.random.randint(10000000,100000000,DF.shape[0])

In [4]:
DF

         Country  Population
0         Taiwan    87126779
1  United States    91972848
2       Thailand    90673157

In [5]:
MaxCountry = DF.loc[DF["Population"].idxmax(),'Country']

In [6]:
MaxCountry

'United States'